*{
    padding: 0px;
    margin: 0px;
}
.image{
    padding: 150px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.banner-text{
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: bold;

}
.banner-descriptions{
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 10px;
    
}
.btn{
    text-align: center;
    padding: 30px;
    


}
.banner-btn{
    background-color:orangered ;
    font-size: 20px;
    color: white;
    width: 140px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    
    

    
   
}

.title2{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.title2-descriptions{
    text-align: center;
    margin: 0px 200px 0px 200px ;
    color: rgb(64, 60, 60);
}

.select-taka{
    margin-top: 70px;
    padding: 0px 40px 0px 40px;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 70px;
    height: 60px;
    text-align: center;
    /*box-shadow: 8px 8px 16px gray;*/
    padding: 50px;
    border-radius: 5px;
    background-color: rgb(241, 237, 237);
    color: rgb(86, 88, 91);
    

}
.select{
    width: 70px;
    height: 60px;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 50px;
    border-radius: 5px;
    background-color: rgb(245, 198, 198);
    color: rgb(249, 74, 74);
}


.placeholder{
    text-align: center;
    margin-bottom: 40px;
}
.input{
    font-size: 20px;
    text-align: center;
    margin: 80px 0px 0px 20px;
}

.taka-btn1{
    background-color:orangered ;
    font-size: 20px;
    color: white;
    width: 140px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    margin: 70px;

    

    
   
}

.plan{
    text-align: center;
    margin: 10px;
    font-size: 25px;

}

.plan-card{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.card1{
    width: 300px;
    height: 250px;
    border: 1px solid gray;
    text-align: left;
    box-shadow: 8px 8px 16px gray;
    padding: 10px;
    border-radius: 5px;
    
    
    

}
.color{
    background-color:rgb(222, 235, 234);
    text-align: botton;
}
.color1{
    background-color:rgb(225, 209, 197);
}
.color2{
    background-color:rgb(225, 225, 211);
}

.mission-2{
    margin-top: 100px;
    display: flex;
    padding: 50px;
}

.mission{
    font-size:30px ;
}
.mission-btn{
    background-color:orangered ;
    font-size: 25px;
    color: white;
    text-align: center;
    border-radius: 10px;

}

.mission-3{
    margin-top: 100px;
    display: flex;
    padding: 50px;
}

.mission1{
    font-size:30px ;
}

.get-update{
    text-align: center;
}

.update-descriptions{
    margin: 20px 40px 0px 60px;
    font-size: 20px;
}

.card10{
    width: 600px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 5px;
    
    

}
.email{
    padding: 120px;
}

.f_data{
    background-color: black;
    text-align: center;
    height: 170px;
    padding: 30px 0px 10px;
    
}
.f_data_1{
    color: brown;
    
}

.f_data_2{
    color: white;
    margin: 30px;
}